/* pone * rojo a los campos abligatorios */
.form-group .required::after {
   content: " *";
   color: red;
}

/* boton como enlace */
button.enlace{
   border:0; 
   background-color: rgba(104, 13, 13, 0) !important;
   cursor:pointer;
}

.selectsinborde {
   border: none !important;
   }

.colorfondo{
   background-color: rgb(68, 233, 18);
   }
