/* pone * rojo a los campos abligatorios */
.form-group .required::after {
   content: " *";
   color: red;
}

/* boton como enlace */
button.enlace{
   border:0; 
   background-color: rgba(104, 13, 13, 0) !important;
   cursor:pointer;
}

.selectsinborde {
   border: none !important;
   }

.colorfondo{
   background-color: rgb(68, 233, 18);
   }


.maximoancho{
   width: 10px;
}

/* quitar las flechas y las x de los input number y date */
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
       display: none;
       -webkit-appearance: none;
}
input[type="date"]::-webkit-inner-spin-button,    
input[type="date"]::-webkit-clear-button { display: none; }
